<div class="section has-text-centered is-parent is-vertical container-center-col">
  <div class="container is-child box is-12">
    <p class="title">
      Welcome to CarFacts!
    </p>
    <hr>
    <p>
      CarFacts is your all-in-one app to track all maintenance and modifications done to your vehicle.
    </p>
    <br />
    <p>
      If this is your first time here, click sign up and add your first vehicle!
    </p>
    <br />
    <br />
  </div>

  <div class="is-parent box vehicle-style">
    <div class="container ">
      <h2 class="title is-underlined">Login Form</h2>
      <form class="login">
        <div class="field form-group">
          <label class="label" for="exampleInputEmail1">Email address:</label>
          <input type="email" class="input form-control" id="email-input" placeholder="Email">
        </div>
    </div>

    <div class="container form-group">
      <label class="label" for="exampleInputPassword1">Password</label>
      <input type="password" class="input loginInput form-control" id="password-input" placeholder="Password">
    </div>

    <div class="container">
      <div>
        <button type="submit" class="button loginInput btn btn-default">Login</button>
      </div>
      {{!-- <button type="submit" class="button level-right loginInput buttonLogin btn btn-default">Sign up!</button> --}}
    </div>

    </form>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>