<div>
  <div class="section">

    <div class="container">
      <h2 class="title">Login Form</h2>
      <form class="login">
        <div class="field form-group">
          <label class="label" for="exampleInputEmail1">Email address:</label>
          <input type="email" class="input form-control" id="email-input" placeholder="Email">
        </div>
    </div>

    <div class="container form-group">
      <label class="label" for="exampleInputPassword1">Password</label>
      <input type="password" class="input form-control" id="password-input" placeholder="Password">
    </div>

    <div class="container">
      <button type="submit" class="button btn btn-default">Login</button>
    </div>

    </form>

    <br />
    <p>Or sign up <a href="/signup">here</a></p>
  </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>