<div class="tile box mt-4 ml-4 mr-4 maint-tile is-vertical">
  {{!-- <div class="columns">
    <div class="column title-row">
      <p class="title is-1" id="jobName"></p>
      <p class="title is-4 pt-4 ml-6" id="jobDate"></p>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <p id="milage">Vehicle Milage:</p>
    </div>
  </div> --}}
  <p class="title is-1" id="jobName">Job: </p>
  <p class="title is-4" id="jobDate">Date of Maintenance: </p>
  <p class="title is-6" id="milage">Vehicle Milage: </p>
  <p class="" id="description">Description: </p>
  <p class="pt-1" id="parts">Parts: </p>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/maintRecord.js"></script>


{{!-- 
VehicleId: 1
createdAt: "2020-06-11T22:30:31.000Z"
description: "arbav"
id: 2
jobDate: "2019-02-04"
milage: 2134132
name: "asdfave"
parts: "asdf"
updatedAt: "2020-06-11T22:30:31.000Z" 
--}}