<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logoutBtn">
        Logout
      </a>
    </div>
  </div>
</nav>

<div class="section">

  <div class="container">
    <h2 class="title">Welcome <span class="title member-name"></span>!</h2>
  </div>
</div>
{{!-- Button to Vehicles --}}
<div class="section">
  <div class="container">
    <h2 class="subtitle">Your Vehicles</h2>
  </div>
</div>


<div class="section level">
  <a href="/vehicles" class="image is-is-5by4 container is-clickable">
    <img id="vehicleButton"  src="images/toyota.jpg">
  </a>
    <a href="/vehicles" class="image is-is-5by4 container is-clickable">
    <img id="vehicleButton"  src="images/toyota.jpg">
  </a>
    <a href="/vehicles" class="image is-is-5by4 container is-clickable">
    <img id="vehicleButton"  src="images/toyota.jpg">
  </a>
</div>

<div class="section">
  <div class="container">
    <button id="vehicleButton" class="button">Click Here!</button>
  </div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>