<div class="is-parent is-vertical is-6">


    <div class="section loginInput container is-child box mt-6">
      <h2 class="title">Welcome <span class="title member-name"></span>!</h2>
    </div>



  {{!-- Button to Vehicles --}}
  <div class="box is-child">
    <h2 class="subtitle">Your Vehicles:</h2>
    <div class="section box is-child level loginInput" id="vehicleDisplay">
    </div>
    <button id="vehicleButton" class="button is-link">Add New Vehicle!</button>
  </div>
  
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>