<div class="section">
  <form>
    <div class="container">
      <div class="form-group">
        <label for="jobName">Job Name:</label>
        <textarea class="input form-control" id="jobName" rows="1" placeholder="eg. Replaced Break Pads"></textarea>
      </div>
    </div>
    <div class="container">
      <div class="form-group">
        <label for="jobDescription">Job Description:</label>
        <textarea class="input form-control" id="jobDescription" rows="3"></textarea>
      </div>
    </div>
    <div class="container">
      <div class="form-group">
        <label for="milage">Milage:</label>
        <textarea class="input form-control" id="milage" rows="1"></textarea>
      </div>
    </div>
    <div class="container">
      <div class="form-group">
        <label for="parts">Parts:</label>
        <textarea class="input form-control" id="parts" rows="1"></textarea>
      </div>
    </div>
    <div class="container">
      <div class="form-group">
        <label for="vehicle">Vehicle:</label>
        <select class="input form-control" id="vehicle"></select>
      </div>
    </div>
    <div class="container">
      <div class="form-group">
        <label for="date">Job Date:</label>
        <textarea class="input form-control" id="date" rows="1"></textarea>
      </div>
    </div>
    <button type="submit" class="button btn btn-primary" id="submit">Submit</button>
  </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/newMaintenance.js"></script>