<div class="section loginInput">

  <div class="container form-group">
    <h2 class="title">Sign Up Form</h2>
    <form class="signup">
      <label class="label" for="exampleInputEmail1">Email address:</label>
      <input type="email" class="input form-control" id="email-input" placeholder="Email">
  </div>

  <div class="container form-group">
    <label class="label" for="fistName">First Name:</label>
    <input type="text" class="input form-control" id="firstNameId" placeholder="First Name">
  </div>

  <div class="container form-group">
    <label class="label" for="lastName">Last Name:</label>
    <input type="text" class="input form-control" id="lastNameId" placeholder="Last Name">
  </div>

  <div class="container form-group">
    <label class="label" for="location">Location:</label>
    <input type="text" class="input form-control" id="locationId" placeholder="Location">
  </div>

  <div class="container form-group">
    <label class="label" for="exampleInputPassword1">Password:</label>
    <input type="password" class="input form-control" id="password-input" placeholder="Password">
  </div>

  <div style="display: none" id="alert" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span> <span class="msg"></span>
  </div>

  <button type="submit" class="button is-link btn btn-default">Sign Me Up!</button>
  </form>
  <br />
  <br />
  <br />
  {{!-- <span class="container">Already a Member?</span>
  <div class="container">
  <button type="submit" class="button btn buttonLogin btn-default">Login Here</button> --}}
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>