    <div class="section">
        <div class="container">
            <h2 class="title">Vehicles: </h2>
            <hr>
            <div class="form-group">
                <select class="custom-select" id="category">
                    <option selected value="">All Types</option>
                    <option value="car">Car</option>
                    <option value="truck">Truck</option>
                    <option value="motorcycle">Motorcycle</option>
                </select>
            </div>
            <div class="container">
                <div id="vehicleContainer"></div>
            </div>
        </div>
    </div>