<div class="container-center-col">
    {{!-- Title --}}
    <div class="tile box mt-5 has-text-centered container-center vehicle-style">
        <p class="title is-1 level-item has-text-centered">Add Your Vehicle!</p>
    </div>

    <!-- form new vehicle -->
    <div class="tile box section container-center vehicle-style">
        <form id="vehicleForm ">
                    <p class="is-5">Type of Vehicle:</p>
            <div class="form-group">
                <div class="container">
                    <div class="select">
                        <select id="type">
                            <option value="Car">Car</option>
                            <option value="Truck">Truck</option>
                            <option value="Motorcycle">Motorcycle</option>
                        </select>
                    </div>
                </div>
                <div class="container">
                    <label for="Make">Make:</label>
                    <input type="text" class="input form-control" id="make">
                    <br />
                </div>
                <div class="container">
                    <label for="Model">Model:</label>
                    <input class="input form-control" rows="1" id="model"></input>
                    <br />
                </div>
                <div class="container">
                    <label for="Year">Year:</label>
                    <input class="input form-control" rows="1" id="year"></input>
                    <br />
                </div>
                <div class="container">
                    <label for="VIN">VIN:</label>
                    <input class="input form-control" rows="1" id="vin"></input>
                    <br />
                </div>
                <div class="container">
                    <label for="Mileage">Mileage:</label>
                    <input class="input form-control" rows="1" id="mileage"></input>
                    <br />
                </div>
                <div class="container">
                    <label for="yearPurchased">Purchased Year:</label>
                    <input class="input form-control" rows="1" id="yearPurchased"></input>
                    <br />
                </div>
                <div class="container">
                    <label for="yearPurchased">Vehicle Condition:</label>
                    <br>
                    <div class="select">
                        <select id="condition">
                            <option value="Excellent">Excellent</option>
                            <option value="Fair">Fair</option>
                            <option value="Poor">Poor</option>
                        </select>
                    </div>
                </div>
                <div class="container">
                    <label for="accidents">Number of Accidents:</label>
                    <input class="input form-control" rows="1" id="accidents"></input>
                    <br />
                </div>
                <div class="container">
                    <label for="numOfOwners">Number of Previous Owners:</label>
                    <input class="input form-control" rows="1" id="numOfOwners"></input>
                    <br />
                </div>
                <div class="container">
                    <label for="yearPurchased">Location Last Owned:</label>
                    <input class="input form-control" rows="1" id="locationLastOwned"></input>
                    <br />
                </div>
                <button type="submit" id="buttonADD" class="button btn btn-success submit btn-lg">Submit</button>
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/vehicles.js"></script>