<div>
    <!-- form new vehicle -->
    <div class="section">
        <form id="vehicleForm">
            <div class="form-group">
                <div class="container">
                    <div class="select">
                        <select id="type">
                            <option>Category</option>
                            <option value="Car">Car</option>
                            <option value="Truck">Truck</option>
                            <option value="Motorcycle">Motorcycle</option>
                        </select>
                    </div>
                </div>

                <div class="container">
                    <label for="Make">Make:</label>
                    <input type="text" class="input form-control" id="make">
                    <br />
                </div>
                <div class="container">
                    <label for="Model">Model:</label>
                    <textarea class="input form-control" rows="1" id="model"></textarea>
                    <br />
                </div>
                <div class="container">

                    <label for="Year">Year:</label>
                    <textarea class="input form-control" rows="1" id="year"></textarea>
                    <br />
                </div>
                <div class="container">

                    <label for="VIN">VIN:</label>
                    <textarea class="input form-control" rows="1" id="vin"></textarea>
                    <br />
                </div>
                <div class="container">

                    <label for="Mileage">Mileage:</label>
                    <textarea class="input form-control" rows="1" id="mileage"></textarea>
                    <br />
                </div>
                <button type="submit" class="button btn btn-success submit btn-lg">Submit</button>
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/vehicles.js"></script>