form.signup,
form.login {
  margin-top: 50px;
}
.button {
  margin-top: .5rem;
}
/* .container {
  border: 3px;
  border-color: red;
  border-style: dashed;
} */
/* .navbar {
  border: 3px;
  border-color: blue;
  border-style: dashed;
} */
.card {
  border: 3px;
  border-color: orange;
  border-style: dashed;
}
.image {
  max-width: 400px;
}
.is-clickable {
  cursor: pointer;
}

.container-center{
  display: flex;
  justify-content: center;
}

.img-wrench{
  height: 10rem;
}

.container-wrench{
  padding-top: 4rem;
}

.form-date{
  display: flex;
  justify-content: space-between;
}

.background{
  position: fixed;
  background-color: rgb(18, 50, 156);
  z-index: -3;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.container-background{
  background-color: rgba(255, 255, 255, .6);
  border-radius: 3px;
}