form.signup,
form.login {
  margin-top: 50px;
}
.button {
  margin-top: .5rem;
}
.container {
  /* border: 3px;
  border-color: red;
  border-style: dashed; */
  color: white;
}
.navbar {
  /* border: 3px;
  border-color: blue;
  border-style: dashed; */
  background-color: transparent;
}
/* .card {
  border: 3px;
  border-color: orange;
  border-style: dashed;
} */
.image {
  max-width: 400px;
}
.is-clickable {
  cursor: pointer;
}
.loginInput {
  text-align: center;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}
.backColor {
  background-color: blue;
}
.backgroundImage {
  background-image: url("../images/metal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
}
/* body {
  background-color: rgba(0, 0, 0, .6);
} */
.title, .subtitle, .label, .navbar-item {
  color: white;
}
.label, .button {
  margin-top: 1.5rem;
}